body{
    background-color: rgb(228, 227, 227);
    font-family:Arial, Helvetica, sans-serif;
    overflow-x: auto;
    width:100%;
}
header{
    position:fixed;
    width: 100%;
    height: 35px;
    background-color: white;
    top:0px;
    right: -5px;
    padding: 10px;
    z-index: 1;
}
.left{
    position:absolute;
    text-align:left;
    left:70px;
    top:-10px;
}
.iconImage{
    border-right: 1px;
    margin-bottom: 17px;
    margin-left: 10px;
    margin-top: 10px;
    border-right: solid;
    border-right-color:lightgrey;
    padding-right: 15px;
    width: 30px;
}
.logoImage{
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 12px;
    width: 125px;
}
.middle{
    position:absolute;
    top:10px;
    width:100%;
    text-align:center;
}
input{
    text-align:center;
    background-color:rgb(235, 233, 233);
    border:1px;
    border:solid;
    border-color:lightgrey;
    width:200px;
    padding:5px;
    color:black;
}
::placeholder{
    color:grey;
}
input:focus{
    background-color:darkgrey;
}
button{
    display:none;
}
.right{
    position:absolute;
    top:10px;
    text-align:right;
    right:100px;
}
.compassImage{
    padding-left:30px;
}
.heartImage{
    padding-left:30px;
}
.userImage{
    padding-left:30px;
}
.post1{
    height:900px;
    width:770px;
    background-color: white;
    position:absolute;
    top:70px;
    left:70px;
    border-style: solid;
    border-width:2px;
    border-color: lightgray;
}
.Profile{
    border-radius:50%;
    height:50px;
    width:50px;
    position:absolute;
    left:30px;
    top:15px;
}
.ProfileName{
    position: absolute;
    left:90px;
    top:30px;
}
.Photo1{
    position:absolute;
    top:80px;
    width:100%;
}
.leftMetrics{
    position:absolute;
    bottom:190px;
}
.heartPost{
    padding-left:20px;
}
.commentPost{
    padding-left:20px;
}
.uploadPost{
    padding-left:20px;
}
.rightMetrics{
    position:absolute;
    right:20px;
    bottom:190px;
}
.numberLikes{
    position:absolute;
    bottom:160px;
    left:20px;
    font-size: larger;
}
.postCaption{
    position:absolute;
    bottom:130px;
    left:20px;
    font-size:larger;
}
.hashtag{
    color:rgb(76, 104, 215)
}
.postTime{
    position:absolute;
    bottom:100px;
    left:20px;
    font-size:larger;
    color:grey;
    
}
.splittingLine{
    border-top-width:1px;
    border-top-color:lightgrey;
    border-top-style:solid;
    position:absolute;
    bottom:80px;
    width:95%;
    left:20px;
}
.commentAdd{
    position:absolute;
    bottom:30px;
    left:20px;
    font-size:larger;
    color:grey;
}
.dots{
    position:absolute;
    right:8px;
    bottom:15px;
}
.post2{
    height:900px;
    width:770px;
    background-color: white;
    position:absolute;
    top:990px;
    left:70px;
    border-style:solid;
    border-width:2px;
    border-color:lightgray;
}
.Photo2{
    position:absolute;
    top:80px;
    width:100%;
    height:580px;
}
.suggestionsForYou{
    position:absolute;
    top:1950px;
    left:70px;
    width:770px;
    height:300px;
    background-color:white;
    border-style:solid;
    border-width:2px;
    border-color:lightgray;
}
.suggestMsg{
    position:absolute;
    top:25px;
    left:40px;
    color:grey;
}
.seeMsg{
    position:absolute;
    top:25px;
    right:50px;
    color:rgb(0, 132, 255);
}
.suggestion1{
   border-style:solid;
   border-width:1px;
   border-color:lightgrey;
   width:200px;
   height:230px;
   position:absolute;
   top:55px;
   left:40px;
   text-align:center;
}
.suggest{
    border-radius:50%;
    height:70px;
    width:70px;
    padding:20px;
}
.suggestName{
    display:block;
}
.suggestInfo{
    display: block;
    color:grey;
    font-size:small;
    padding-bottom:30px;
}
.crossOut{
    position:absolute;
    right:20px;
    top:10px;
}
.followButton{
    border-width:1px;
    border-style:solid;
    display:inline-block;
    border-radius:5%;
    border-color: rgb(65, 148, 243);
    width:140px;
    height:18px;
    padding:8px;
    background-color: rgb(65, 148, 243);
    color:white;
}
.suggestion2{
    border-style:solid;
    border-width:1px;
    border-color:lightgrey;
    width:200px;
    height:230px;
    position:absolute;
    top:55px;
    left:285px;
    text-align:center;
 }
 .suggestion3{
    border-style:solid;
    border-width:1px;
    border-color:lightgrey;
    width:200px;
    height:230px;
    position:absolute;
    top:55px;
    left:530px;
    text-align:center;
 }
 .arrow{
    position:absolute;
    top:165px;
    right:32px;
    width:30px;
    height:30px;
 }
 .sideBar{
    position:fixed;
    left:880px;
    top:70px;
    width:470px;
    height:605px;
 }
 .userProfile{
    border-radius:50%;
    height:80px;
    width:80px;
 }
 .userName{
    position:absolute;
    top:25px;
    left:100px;
 }
 .subName{
    position:absolute;
    top:45px;
    left:100px;
    font-size:small;
    color:grey;
 }
 .stories{
    position:absolute;
    top:100px;
    left:0px;
    color:grey;
 }
 .watch{
    position:absolute;
    top:100px;
    right:5px;
    font-size:small;
 }
 .storiesList{
    position:absolute;
    top:130px;
    width:470px;
    height:390px;
    overflow-y:auto;
 }
 .storyPhoto{
    border-radius:50%;
    height:80px;
    width:80px;
    background: rgb(228, 227, 227);
    padding:3px;
    /* Code for the gradient border from https://css-tricks.com/gradient-borders-in-css/*/
 }
 .storyName{
    display:block;
 }
 .storyTime{
    font-size:small;
    color:grey;
 }
 .story1info{
    position:absolute;
    top:25px;
    left:110px;
 }
 .story2info{
    position:absolute;
    top:25px;
    left:110px;
    width:70px;
 }
 .story3info{
    position:absolute;
    top:25px;
    left:110px;
 }
 .story4info{
    position:absolute;
    top:25px;
    left:110px;
    width:70px;
 }
 .story5info{
    position:absolute;
    top:25px;
    left:110px;
    width:80px;
 }
 .story{
    padding-bottom:10px;
 }
 .splittingLineStory1{
    border-top-width:1px;
    border-top-color:lightgrey;
    border-top-style:solid;
    position:absolute;
    top:90px;
    left:0px;
    width:470px;
}
 .splittingLineStory2{
    border-top-width:1px;
    border-top-color:lightgrey;
    border-top-style:solid;
    position:absolute;
    left:0px;
    bottom:85px;
    width:470px;
}
.storyBorderWrap{
  width:90px;
  height:90px;
  position:relative;
  background:linear-gradient(to right, rgb(243, 131, 4), rgb(188, 3, 194));
  padding:3px;
  border-radius:50%;
  display:grid;
  place-items:center;
  /* Code for the gradient border from https://css-tricks.com/gradient-borders-in-css/*/
}
.footnoteLinks{
    position:absolute;
    bottom:0px;
}
.firstLine{
    display: block;
    font-size: small;
    color:grey;
}
.secondLine{
    display: block;
    font-size: small;
    color:grey;
}
.thirdLine{
    display: block;
    font-size: small;
    color:grey;
}
.fourthLine{
    display: block;
    font-size: small;
    color:grey;
    padding-top:15px;
}
a:link{
    text-decoration:none;
}
@media (max-width:760px){
    .sideBar{
      display:none;
    }
}